.card {
  width: 80%;
  left: 10%;
  background-color: gainsboro;
  padding-bottom: 2px;
}

.cardBody{
  background-color: #f7f7f7;
}

.time{
  font: 2vmin Helvetica ;
  display:block;
  color: #1F1F1F;
}

.date{
  font: 2vmin Helvetica;
  color: #878787;
  font-weight: 400;
}

.windSpeed {
  float: right ;
  color: #878787;
  right: 10%;
  font: 2vmin Helvetica;
}


.weatherDescription{
  left: 45%;
  font: 3vmin Helvetica;
}

.weather{
  left: 35%;
  font: 4vmin Helvetica;
  line-height: 50%;
}

.timeIcon{
  font-size: 7vmin;
  position: absolute;
  top:10%;
  left: 20%
}

.humidity{
  left: 40%;
  position: absolute;
  font-size: 2vm;
}

.realFeel{
  font-size: 2vm;
}



.windSpeed,.weather,.weatherDescription{
  position: absolute;
  top:35%;
}


